html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
html{font-size:12px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:24.5px}}
#container{
    width: 100%;
    height: 100%;
}
#container canvas{
    margin: 0 auto;
}
/* 菜单 */
.caidan{
    height: 98%;
    width: 100%;
    /* max-width: 690px; */
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1%;
    display: none;
    overflow: hidden;
    z-index: 99;
}
.caidan .main{
    width: 97.7%;
    height: 100%;
    background: white;
}
.main .head h2,.pack .phead h2,.shop .phead h2{
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #0069B4;
    margin: 0;
    font-size: 22px;
}
.main .head button,.pack .phead button,.shop .phead button{
    display: inline-block;
    width: 20%;
    height: 45px;
    float: right;
    color: #0069B4;
    font-size: 0.5rem;
}
.bottom{
    height: 92%;
    padding-top: 1px;
    position: relative;
}
.bottom .left{
    width: 100%;
    padding-top: 1px;
}
.bottom .left .tab{
    padding: 5px 1% 0 1%;
}
.left button{
    width: 32.6%;
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
}
.bottom .right{
    height: 90%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 54px;
    background: white;
    overflow: hidden;
}
.right{
    padding-top: 0.4rem;
    height: 90%;
}
.bottom .right .heng{
    height: 100%;
    max-height: 313px;
    overflow: auto;
    padding-bottom: 173px;
}
.right .menu1{
    margin-left: 0.5rem;
    width: 95%;
    height: 75px;
    text-align: center;
    border: 1px solid #000;
    padding: 3px;
    display: inline-block;
    margin-bottom: 6px;
}
.right .menu1>div{
    float: right;
    width: 20%;
    height: 100%;
    line-height: 74px;
    max-height: 74px;
    display: inline-block;
}
.right .menu1 .h1{
    display: inline-block;
    width: 69px;
    height: 69px;
    line-height: 69px;
    max-height: 69px;
    border: 1px solid #000;
    font-size: 18px;
    float: left;
}
.right .menu1 .menu1_span{
    float: left;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-left: 25px;
}
.menu1 .menu1_span span{
    display: block;
    text-align: left;
    height: 25px;
    line-height: 25px;
}
.caidan .naImg{
    width: 86px;
    height: 139px;
    position: absolute;
    bottom: 102px;
    left: 0.33rem;
    z-index: 9999;
}
.caidan .nana{
    width: 95.9%;
    height: 94px;
    position: absolute;
    bottom: 4px;
    left: 49%;
    transform: translateX(-50%);
    z-index: 9999;
}
.caidan .nana .nanaName{
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    bottom: 61px;
    left: 0;
    background: white;
}
.caidan .nana .talk{
    width: 99%;
    height: 80px;
    line-height: 80px;
    font-size: 22px;
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: 1rem;
    background: white;
}
/* 建筑数据 */
.build{
    display: none;
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
}
.build .main .buildData{
    padding: 0 10px;
}
.build .main .buildData>span{
    font-size: 22px;
}
.build .main .buildData .upgrade{
    width: 130px;
    padding: 10px 0;
    background: orange;
    margin: 0 auto;
}
.upgrade span{
    display: block;
    font-size: 16px;
    text-align: center;
}

/* 拆除确认 */
.chai{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(248, 248, 255, 0.5);
    display: none;
}
.chai .main{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    padding-top: 15px;
}
.chai .main span{
    font-size: 22px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
}
.chai .main button{
    display: inline-block;
    width: 50px;
    height: 35px;
    margin: 30px 20px 0 20px;
}
/* 风格选择 */
.style{
    width: 100%;
    height: 100%;
    background: #eee8e8;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.style span{
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    display: block;
    text-align: center;
    margin: 10px 0;
}
.smain{
    width: 100%;
    
}
.style .smain div{
    max-width: 10rem;
    display: inline-block;
    width: 20%;
    font-size: 18px;
    text-align: center;
    margin-left: 10%;
    border: 1px solid #141212;
    position: relative;
}
.smain div span{
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.style #styBtn{
    width: 80px;
    height: 45px;
    display: inline-block;
    margin-top: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* AI少女btn */
#aisnMenu{
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    width: 100px;
    height: 50px;
    background: orange;
    border: none;
    display: none;
}
.aisnMain{
    width: 97%;
    height: 45%;
    background: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.aisnMain .aisn{
    width: 45%;
    height: 100%;
    float: left;
    /* background: yellow; */
}
.aisnMain .menus{
    width: 55%;
    height: 100%;
    float: left;
    /* background: yellowgreen; */
}
.menus{
    overflow: auto;
}
.menus ul{
    padding: 0;
}
.menus ul li{
    list-style: none;
    font-size: 22px;
    display: block;
    width: 90%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #000;
    margin-top: 8px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* 设置 */
.set{
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.set .setMain{
    max-width: 300px;
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
}
.setMain .head h2{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0069B4;
    margin: 0;
    font-size: 1rem;
}
.setMain .head button{
    display: inline-block;
    width: 20%;
    height: 40px;
    float: right;
    color: #0069B4;
    font-size: 0.5rem;
}
.setMain .bottom{
    width: 100%;
    height: 300px;
}
.bottom .music,.bottom .audio{
    display: block!important;
    margin-top: 20px;
}
.bottom .music h3,.bottom .audio h3{
    display: inline-block;
    margin: 0;
    height: 39px;
    line-height: 39px;
    margin-left: 85px;
    font-size: 22px;
}
.bottom .music>div,.bottom .audio>div{
    display: inline-block;
    margin-left: 50px;
    margin-top: 26px;
    position: relative;
    top: 9px;
}
/* 大地图 */
.map{
    width: 100%;
    height: 100%;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}
.map #back{
    width: 90px;
    height: 50px;
    background: orange;
    border: none;
    position: fixed;
    top: 10px;
    right: 20px;
}
/* 背包 */
.pack{
    max-width: 320px;
    max-height: 568px;
    width: 98%;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.pack .phead,.shop .phead{
    position: relative;
    z-index: 90;
}
.pack .pmain{
    overflow: hidden;
}
.pack .pmain ul{
    width: 100%;
    height: 100%;
    max-height: 261px;
    overflow: auto;
    padding: 0;
}
.pack .pmain ul li{
    list-style: none;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 6%;
    margin-top: 5px;
    position: relative;
    border: 1px solid #000;
}
.pmain ul li .number,.xqmain .left .shuz{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    background: white;
    padding: 1px 2px;
}
.pack .xqing{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 87%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}
.xqing .xqmain{
    padding: 10px;
    background: white;
    overflow: hidden;
    border: 1px solid #000;
}
.xqmain .left{
    display: inline-block;
    position: relative;
}
.xqmain .left .shuz{
    bottom: 5px;
    right: 1px;
}
.xqmain .img{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
}
.xqmain .rong{
    float: right;
    width: 62%;
}
.xqmain .rong h3{
    font-size: 18px;
}
.xqmain .rong span{
    font-size: 12px;
}
.xqmain .rong button{
    display: block;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background: orange;
}
/* 商店 */
.shop{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.shopMain{
    background: white;
    overflow: auto;
}
.shopMain .sitem{
    padding: 0.4rem;
}
.shopMain .sitem .bor{
    border: 1px solid #000;
    overflow: hidden;
    padding-top: 5px;
}
.shopMain .sleft{
    width: 35%;
    display: inline-block;
    float: left;
}
.shopMain .sleft .simg{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.shopMain .sleft span{
    width: 100%;
    text-align: center;
    display: block;
}
.shopMain .sright{
    display: inline-block;
    width: 64%;
    float: left;
}
.shopMain .sright .info{
    width: 60%;
    display: inline-block;
}
.shopMain .sright .goumai{
    display: inline-block;
    width: 35%;
    height: 3.7rem;
    float: right;
}
.shopMain .sright button{
    width: 4.5rem;
    height: 2.9rem;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background: orange;
}
/* 签到 */
.signIn{
    background: white;
    width: 96%;
    height: 90%;
    max-width: 307px;
    max-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.signIn .signIn-head{
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #0069B4;
    color: white;
}
.signIn .date{
    width: 75%;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
.date ul{
    width: 100%;
    height: 100%;
    padding: 0;
}
.date ul li{
    list-style: none;
    float: left;
    width: 24%;
    height: 47px;
    line-height: 47px;
    border: 1px solid #000;
    text-align: center;
    font-size: 16px;
}
.signIn .date .five{
    margin-left: 30px;
    margin-top: -1px;
}
.signIn .signBtn{
    width: 77px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}
.signIn .signBtn button{
    width: 100%;
    height: 100%;
    border-color: #dd9e28;
    font-size: 18px;
    background: orange;
}
/* ------------------- */
/* 任务btn */
#task{
position: fixed;
bottom: 2rem;
right: 0.5rem;
top: 10rem;
width: 50px;
height: 50px;
background: orange;
border: none;
display: none;
}
#caidan_task,#lists{
height: 99.8%;
width: 100%;
position: fixed;
left: 0;
top: 0;
display: none;
overflow: hidden;
z-index: 99;
}
.main_task,.main_lists{
width: 100%;
height: 100%;
background: white;
}
.main_task h2,.main_lists h2{
height: 45px;
line-height: 45px;
text-align: center;
background: #0069B4;
margin: 0;
font-size: 22px;
}
#remove_task{
display: inline-block;
width: 20%;
height: 45px;
float: right;
color: #0069B4;
background-color: #FFFFFF;
border: 1px solid gray;
}
#task_category{
margin-top: 1rem;
height: 600px;
border: 1px solid gray;
}
#task_btn1,#task_btn2{
position: fixed;
width: 49%;
height: 50px;
background: orange;
border: none;
display: inline-block;
border: 1px solid gray;
}
#task_btn1{
left: 0
}
#task_btn2{
right: 0;
}
#task_content1,#task_content2{
height: 39rem;
overflow: auto;
padding: 1rem;
margin-top: 5rem;
z-index: 0;
background-color: #FFFFFF;
}
#task_con1{
width: 97%;
height: 70px;
line-height: 70px;
border: 1px solid gray;
position: relative;
padding: 0.5rem;
margin-top: 3px;
}
#task_con1 .sp1{
left: 0;
}
#task_con1 .sp2{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #0069B4;
}
#task_con1 .reward{
position: absolute;
top: 50%;
right: 1rem;
transform: translate(0, -50%);
width: 70px;
height: 50px;
border: 1px solid gray;
background: orange;
display: none;
}
#task_con1 .unfinished{
float: right;
margin-right: 2rem;
}
#achievement_con1{
width: 49%; 
height: 10rem;
margin-top: 20px;
display: inline-block;
}

#achievement_content{
margin: auto;
width: 70%;
}
#achievement_content img{
width: 50%;
display: block;
}
#achievement_content button{
background: orange;
border: 1px solid gray;
height: 3rem;
}

#achievement_content img,#achievement_content span,#achievement_content button{
margin: auto;
text-align: center;
display: block;
margin-top: 0.5rem;
}
#lists{
display: none;
}
#lists_content{
margin-top: 5rem;
margin: 0 auto;
padding: 1rem;
}
#lists_con{
width: 97%;
height: 70px;
line-height: 70px;
border: 1px solid gray;
position: relative;
padding: 0.5rem;
margin-top: 3px;
}
#lists_con img{
width: 3rem;
margin: auto;
text-align: center;
}
#img_boder{
display:inline-block;
margin: auto;
}
#lists_name{
width: 8rem;
display:inline-block;
}
#lists_evaluation{
width: 8rem;
display:inline-block;
}
#lists_text{
display: inline-block;
}